@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
}

body,
#grid-container,
#grid,
.grid-row {
  display: flex;
}

#page-heading {
  font-size: 36px;
  margin-bottom: -8px;
}

#grid-container {
  justify-content: center;
}

#grid {
  flex-direction: column;
}

#grid,
.grid-square {
  border: 1px solid black;
}
