@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

body,
#main,
#controls,
#slider-container,
#grid-container,
#grid,
.grid-row {
  display: flex;
}

body,
#controls,
#slider-container,
#grid {
  flex-direction: column;
}

body,
#main,
#controls,
#slider-container {
  align-items: center;
}

body {
  gap: 48px;
  height: 100vh;
  background: linear-gradient(to top right, red, blue);
  padding-top: 32px;
}

#main {
  gap: 80px;
}

#page-heading {
  font-size: 32px;
  background: rgb(256, 256, 256);
  box-shadow: 0px 0px 10px black;
  padding: 6px 24px;
  border-radius: 16px;
}

#grid-container {
  justify-content: center;
  background: linear-gradient(to bottom left, red, blue);
  box-shadow: 0px 0px 8px black;
  padding: 16px;
  border-radius: 8px;
}

#grid {
  background: rgb(256, 256, 256);
}

#grid,
.grid-line {
  border: 1px solid black;
}

#controls {
  gap: 12px;
}

#slider-container {
  gap: 8px;
  color: white;
}

.btn {
  cursor: pointer;
  transition: 0.1s;
  font-family: inherit;
  background: rgb(256, 256, 256);
  box-shadow: 0px 0px 8px black;
  padding: 4px 12px;
  border: none;
  border-radius: 12px;
}

.btn:hover {
  background-color: rgb(230, 230, 230);
}
